{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "max-len": "off",
    "require-jsdoc": "off",
    "linebreak-style": "off",
    "quotes": "off",
    "eol-last": "off"
  }
}
